name: Get started with GitHub Actions

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'
    
    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./SistemaChamados.Api
    
    - name: Build
      run: dotnet build --no-restore --configuration Release
      working-directory: ./SistemaChamados.Api
    
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./SistemaChamados.Api
      continue-on-error: true
    
    - name: Publish
      run: dotnet publish -c Release -o ./publish
      working-directory: ./SistemaChamados.Api

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build-artifacts
        path: ./SistemaChamados.Api/publish/
